.searchLocation {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  border-radius: 25px;
}

.match-list2 {
  max-height: 300px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background-color: white;
  z-index: 9999 !important;
}

.match-list2::-webkit-scrollbar {
  display: block;
  width: 12px;
  color: #009688;
}

.match-list2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #009688;
  border-radius: 10px;
}

.match-list2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #009688;
}

.match-list2 :hover {
  background-color: #009688;
  cursor: pointer;
}

#sOptions2 {
  cursor: pointer;
  font-size: 25px;
}

.displayLocation {
  height: 60px;
  color: black;
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
}

.lName {
  padding-left: 10px;
}

.sOpHead {
  padding-top: 10px;
}

.homep {
  font-size: 25px;
}
